a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* ////////////// font & keyframes ///////////////// */

/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(https://fonts.gstatic.com/s/orbitron/v7/HmnHiRzvcnQr8CjBje6GQnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@keyframes colorchange {
  0%, 100% {
    background-color: #348b9e;
  }
  50% {
    background-color: #57b3c8;
  }
  75% {
    background-color: #2e7a8b;
  }
}

@keyframes hideicon {
  0, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* //////// index.html ///////// */

.wrapper {
  background-color: #348b9e;
  color: #ffffff;
  max-width: 1600px;
  margin: 0px auto;
  height: 100vh;
  padding: 50px;
  border-width: 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 250px;
  animation: colorchange;
  animation-duration: 8s;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

a {
   background-color: #348b9e;
   color: #ffffff;
   display: inline-block;
   padding: 15px 100px 15px 100px;;
   font-size: 16px;
   border: 3.5px solid #ffffff;
   transition-duration: 0.4s;
   text-decoration: none;
   margin-top: 15px;
   /*animation: colorchange;
   animation-duration: 8s;
   animation-play-state: running;
   animation-iteration-count: infinite;*/
}

.easy {
  -webkit-transform: perspective(160px) rotateY(-20deg);
  margin-bottom: 10px;
}

.hard {
  -webkit-transform: perspective(160px) rotateY(20deg);
}

 a:hover {
   background-color: #FFF;
   color: black;

 }

.header_home {
  font-family: 'Orbitron';
  font-size: 55px;
  padding: 5px;

}

h2 {
  font-size: 22px;
  padding: 10px;
}


/* //////// game.html ///////// */

.wrapper_game {
  background-color: #3F51B5;
  color: #FFF;
  max-width: 1600px;
  margin: 0px auto;
  height: 100vh;
  /*padding: 50px;*/
  border-width: 10px;
  text-align: center;
  /*-webkit-box-sizing: border-box;*/
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.header_game {
  padding-bottom: .4em;
  font-family: 'Orbitron';
  font-size: 55px;
  padding-top: 1em;
  list-style: none;
}

#heart-time {
  display: block;
  width: 100%;
  padding-bottom: 2em;
  text-align: justify;

}

.hearts {
  display: inline-block;
  /*float: left;*/

}
.time {
  text-align: right;
  display: inline-block;
  float: right;
}
/* ////////////////// BOARD GAME ///////////////// */

.wrapper_game {
  background-color: #3F51B5;
  color: #FFF;
  max-width: 1600px;
  margin: 0px auto;
  height: 100vh;
  /*padding: 50px;*/
  border-width: 10px;
  text-align: center;
  /*-webkit-box-sizing: border-box;*/
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.header_game {
  padding-bottom: .4em;
  font-family: 'Orbitron';
  font-size: 55px;
  padding-top: 1em;
  list-style: none;
}

#heart-time {
  display: block;
  width: 100%;
  padding-bottom: 2em;
  text-align: justify;
}

.hearts {
  display: inline-block;
}

.time {
  text-align: right;
  display: inline-block;
  float: right;
}

.row-1 {
  display: inline-flex;
}

.row-2 {
  display: inline-flex;
}

.row-3 {
  display: inline-flex;
}

.card {
  width: 200px;
  height: 200px;
  background: #7986CB;
  border-radius: .25em;
  transition: background 1s, transform 1s;
}

input {
  width: 200px;
  height: 200px;
  display: none;
}

input:checked +.card {
  animation: flipInY .5s forwards;
}

input:not(:checked) +.card .card-icon {
  animation: hideicon forwards;
  animation-iteration-count: initial;
}

.card-icon {
  position: relative;
  top: 5em;
  color: #FFF;
}
